<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Tipo de personal</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="/">Dashboard</a></li>
                            <li class="active">Tipo de personal</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content -->
<div class="content">
    <!-- Animated -->
    <div class="animated fadeIn">
        <!-- Widgets  -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row m-0">
                            <div class="col-sm-8">
                                <strong class="card-title">Listado de tipo de personal</strong>
                            </div>
                            <div class="col-sm-4">
                                <div class="float-right">
                                    <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#modal-form-tipopersonal">Nuevo Tipo de personal</button>
                                    <button type="button" class="btn btn-outline-secondary btn-sm" id="btnListTipoPersonal">Listado</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="listTipoPersonal">
                            <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Estado</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (typeStaffs.status == 404) { %>
                                    <tr>
                                        <td colspan="3">No se encontraron registros</td>
                                    </tr>
                                    <% } else { %>
                                        <% typeStaffs.data.forEach(function(typeStaff) { %>
                                            <tr>
                                                <td><%= typeStaff.name %></td>
                                                <td>
                                                    <% if (typeStaff.state) { %>
                                                        <i class="fa fa-check"></i>
                                                    <% } else { %>
                                                        <i class="tim-icons icon-simple-remove"></i>
                                                    <% } %>
                                                </td>
                                                <td>
                                                    <a href="javascript:void(0)" class="editTipoPersonal" data-id="<%= typeStaff.id %>"><i class="fa fa-pencil"></i></a>
                                                    <a href="javascript:void(0)" class="deleteTipoPersonal" data-id="<%= typeStaff.id %>"><i class="fa fa-trash-o"></i></a>
                                                </td>
                                            </tr>
                                        <% }) %>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Widgets -->
        <div class="modal fade" id="modal-form-tipopersonal" tabindex="-1" role="dialog" aria-labelledby="modal-tipopersonal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-tipopersonal">Nuevo tipo de personal</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="tim-icons icon-simple-remove"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="formTipoDocumento">
                            <input type="hidden" name="idTipoPersonal" id="idTipoPersonal"/>
                            <div class="form-group">
                                <label for="nombreTipoPersonal" class="form-control-label">Nombre de tipo de personal</label>
                                <input type="text" id="nombreTipoPersonal" placeholder="Analista de sistemas" class="form-control form-control-sm">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" id="guardarTipoPersonal">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    <!-- /#add-category -->
    </div>
    <!-- .animated -->
</div>
<!-- /.content -->